.MuiCardHeader-action div {
  border-radius: 5px !important;
}
.MuiInputBase-inputAdornedStart,
.MuiInputBase-inputAdornedEnd {
  padding: 12.5px !important;
}

.MuiSelect-select {
  padding: 10px 32px 10px 12.5px !important;
}

.MuiSelect-select:-webkit-autofill {
  box-shadow: rgb(22 28 36) 0px 0px 0px 100px inset;
}
.vertical-center .MuiFormLabel-root {
  margin-top: -6px;
}
.vertical-center .MuiFormLabel-root.Mui-focused {
  margin-top: 0;
}
